<div class="row box">
  <div class="col-md-4 upper-box">
    <mat-card>
      no. of Customer
      <p>56</p>
    </mat-card>

  </div>
  <div class="col-md-4 upper-box">
    <mat-card>
      Total no. of Pending
      <p>342</p>
    </mat-card>

  </div>
  <div class="col-md-4 upper-box">
    <mat-card>
      Total no. of Income
      <p>109789</p>
    </mat-card>
  </div>
</div>
<h2>Dashboard</h2>
<img style="width:100%" src="https://az598155.vo.msecnd.net/wp-uploads/2014/12/youtube-graph.png" alt=""/>