<div class="row">
<div class="sidebar-content col-md-12">
  <!-- Sidebar -->
  <nav id="sidebar cd-main-header">
      <div class="sidebar-header">
        <img src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/person-icon.png" alt="">
        
      </div>

      <ul class="">
          <li>
              <p routerLink="/dashboardview"> Dashboard</p>
          </li>
          <li>
              <p routerLink="/dashboardview/optionview"> Option</p>
          </li>
          <li>
              <p routerLink="/dashboardview/contentview"> Content</p>
          </li>
          <li>
              <p routerLink="/dashboardview/settingview"> Setting</p>
          </li>
          <li>
                <p routerLink="/" (click)="deleteToken()"> Logout</p>
          </li>
      </ul>
      
  </nav>
  
</div>
<!-- <div class="col-md-8"> -->
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-dashboardhomecontent></app-dashboardhomecontent> -->

  <!-- </div> -->
<!-- </div> -->
<!-- 
<button routerLink="home">change</button> -->
